# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock
/build/
build/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio captures
captures/

# Web related
lib/generated_plugin_registrant.dart

# FVM Version Cache
.fvm/

# Android
android/**/GeneratedPluginRegistrant.java
android/key.properties

# iOS/macOS
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/

# Windows/Linux generated
windows/flutter/ephemeral/
linux/flutter/ephemeral/
